@import './base.css';
@import 'tailwindcss';

@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald.woff2') format('woff2');
}

#app {
  display: flex;
  flex: 1;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
    letter-spacing: 1.5px;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }
}

.btn {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid hsla(160, 100%, 37%, 1);
  background-color: transparent;
  color: hsla(160, 100%, 37%, 1);
  cursor: pointer;
  font-size: 16px;
  transition-duration: 150ms;
}

.btn:hover {
  color: white;
  background-color: hsla(160, 100%, 37%, 0.5);
}

btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
